@(id: Long, taskForm: Form[Task])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Todo list") {

    <h1>教授名の編集</h1>

    @form(routes.Application.update_pr(id)) {

        <fieldset>

            @inputText(taskForm("pr"), '_label -> "教授名", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this computer" class="btn primary"> or
            <a href="@routes.Application.list()" class="btn">Cancel</a>
        </div>

    }


}
