@(currentPage: com.avaje.ebean.Page[Task], currentSortBy: String, currentOrder: String, currentFilter: String)


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Application.list(newPage, sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("Todo list") {

	<h1 id="homeTitle">@Messages("tasks.list.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    <div id="actions">

        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by Task name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>

		<a class="btn success" id="add" href="@routes.Application.create()">授業の追加</a>


    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

	<table class="tasks zebra-striped">
            <thead>
                <tr>
                	@header("name", "")
                    @header("name", "月曜日")
                    @header("name", "火曜日")
                    @header("name", "水曜日")
                    @header("name", "木曜日")
                    @header("name", "金曜日")
                    @header("name", "土曜日")
                    @header("name", "日曜日")
                </tr>
                <tr>
                	@header("name", "時限")
                </tr>
            </thead>
            <tbody>

	@for(task <- currentPage.getList) {

						<tr>
						<td><a href="@routes.Application.edit(task.time_id)">@task.task_id</a></td>
						<td><a href="@routes.Application.edit(task.task_id)">@task.name</a></td>
						<td> @if(task.week_id == 2) {<a href="@routes.Application.edit(task.task_id)">@task.name} </td>
						<td> @if(task.week_id == 3) {<a href="@routes.Application.edit(task.task_id)">@task.name} </td>
						<td> @if(task.week_id == 4) {<a href="@routes.Application.edit(task.task_id)">@task.name} </td>
						<td> @if(task.week_id == 5) {<a href="@routes.Application.edit(task.task_id)">@task.name} </td>
						<td> @if(task.week_id == 6) {<a href="@routes.Application.edit(task.task_id)">@task.name} </td>
						<td> @if(task.week_id == 7) {<a href="@routes.Application.edit(task.task_id)">@task.name} </td>



                        </tr>

                }
 </tbody>
        </table>


    }

    <!--タブ-->
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">月曜日</a></li>
<li><a href="#tab2" data-toggle="tab">火曜日</a></li>
</ul>
<!-- / タブ-->
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade in active" id="tab1">

    <table class="tasks zebra-striped">
            <thead>
                <tr>
                	@header("name", "")
                    @header("name", "月曜日")
                    @header("name", "教授名")
                </tr>
                <tr>
                	@header("name", "時限")
                </tr>
            </thead>
            <tbody>

	@for(task <- currentPage.getList) {

						<tr>
						<td><a href="@routes.Application.edit(task.time_id)">@task.time_id</a></td>
						<td><a href="@routes.Application.edit(task.task_id)">@task.name</a></td>
						<td><a href="@routes.Application.edit_pr(task.task_id)">@task.pr</a></td>

                        </tr>

                }
 </tbody>
        </table>




</div>

<div class="tab-pane fade" id="tab2">

    <table class="tasks zebra-striped">
            <thead>
                <tr>
                	@header("name", "")
                    @header("name", "火曜日")
                    @header("name", "教授名")
                </tr>
                <tr>
                	@header("name", "時限")
                </tr>
            </thead>
            <tbody>

	@for(task <- currentPage.getList) {

						<tr>
						<td><a href="@routes.Application.edit(task.task_id)">@task.time_id</a></td>
						<td> @if(task.week_id == 2) {<a href="@routes.Application.edit(task.task_id)">@task.name} </td>
						<td> @if(task.week_id == 2) {<a href="@routes.Application.edit(task.task_id)">@task.pr} </td>

                        </tr>

                }
 </tbody>
        </table>

</div>
</div>



}

